{% extends 'shared/base.html' %}

{% block content %}
    <h1>{{ chef.user.username }}</h1>
    <img src="{{ chef.profile_pic.url }}">
    <p>Experience: {{ chef.experience }}</p>
    <p>Bio: {{ chef.bio }}</p>

    <h2>Featured Dishes</h2>
    <ul>
        {% for dish in featured_dishes %}
            <li>{{ dish.name }}</li>
        {% empty %}
            <li>No featured dishes available.</li>
        {% endfor %}
    </ul>

    <h2>All Dishes</h2>
    <a href="{% url 'meals:chef_weekly_meal' chef.id %}">View {{ chef.user.username }}'s meal</a>


    <h2>Reviews</h2>
    <ul>
        {% if summary %}
            <li>{{ summmary }}</li>
        {% else %}
            <li>No review available.</li>
        {% endif %}
    </ul>
{% endblock %}
