*.env
*.sqlite3
*.bk
*.json
__pycache__/
media/
staticfiles/
*.pyo
*.pyc
*.pyd
*.pyo
*.egg-info/
dist/
build/
*.egg-info
*.egg
*.log
*.swp
*.swo
*.DS_Store
*.bak
*.tmp
*.tar.gz
*.tar
*.txt
*.zip
*.gz
*.rar
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pyzw
*.idea/
.vscode/
node_modules/
instruction_guide.docx
index_*.py
media/
*.sql
convert.py
*.rdb
dump.rdb
dump.rdb
celerybeat-schedule.db
dump.rdb
celerybeat-schedule.db
django_warnings*
celerybeat*
sautai_dump*
celery-celery*
/.hood/
date-container-v-ars.sh
deploy-container-apps.sh
deploy-simple.sh
docker-compose.yml
Dockerfile.*
setup-azure-secrets.sh