{% extends 'shared/base.html' %}

{% block content %}
    <h2>Your Cart</h2>
    {% if cart.menus.all %}
        <ul>
            {% for menu in cart.menus.all %}
                <li>{{ menu.name }} - {{ menu.chef.user.username }} - ${{ menu.price }}</li>
            {% endfor %}
        </ul>
        <h3>Total: ${{ total_price }}</h3>
    {% else %}
        <p>Your cart is empty</p>
    {% endif %}
    <a href="{% url 'menus:dish_list' %}" class="btn btn-primary">Continue Shopping</a>
{% endblock %}
