{% extends 'shared/base.html' %}

{% block content %}
  <div class="container">
    <h1>Menus containing the dish</h1>
    <ul>
      {% for menu in menus %}
        <li>
          <h2><a href="{% url 'menus:menu_detail' menu.id %}">{{ menu.name }}</a></h2>
          <p>Chef: {{ menu.chef.user.username }}</p>
          <p>Start date: {{ menu.start_date }}</p>
          <p>End date: {{ menu.end_date }}</p>
        </li>
      {% empty %}
        <li>No menus found containing this dish.</li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
