{% extends 'shared/base.html' %}

{% block content %}
  <h1>Edit Review</h1>
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="content">Content:</label>
      <textarea name="content" id="content" class="form-control">{{ form.instance.content }}</textarea>
    </div>
    <div class="form-group">
      <label for="rating">Rating:</label>
      <input type="number" name="rating" id="rating" class="form-control" min="1" max="5" value="{{ form.instance.rating }}">
    </div>
    <button type="submit">Update</button>
  </form>
{% endblock %}
